<div class="row">
  <div class="panel round small-12 columns clearfix">
    <table class="index-page">
      <h5 class="story-title"><%= link_to story.title, story_path(story) %></h5>
      <h3 class="story-body"><%= story.short_body %></h3>
      <tbody>
        <tr>
          <td width="230rem">Updated: <%= time_ago_in_words(story.updated_at)%> ago</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
