.overlay-container {
  background: $solid-black;
  height: 23rem;
  overflow: hidden;
  padding-left: 15%;
  position: relative;
}

.overlay-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4rem 2rem 2rem 1rem;
  color: $replacement-white;
  margin: 0;
  width: 30%;
}

p {
  font-size: 100%;
}

.addstory {
  margin-top: 1.25rem;
}

.f-topbar-fixed {
  border-bottom: 10px;
  padding-top: 0;
}

.top-bar {
  box-shadow: 0 4px $custom-orange-color;
}

body {
  background-color: $custon-bg-color;
}

@media #{$small-only} {
  p {
    font-size: 50%;
  }

  .overlay-container .overlay {
    bottom: 0;
    color: $replacement-white;
    left: 0;
    margin: 0;
    padding: 0.2rem 1rem 1rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
  }

  f-topbar-fixed {
    font-size: -100%;
    padding-top: 0;
  }
}

.devise-signup {
  margin-top: 4rem;
  width: 40%;
}

.new-story-form {
  width: 50%;
  height: 80%;
  margin-top: 3rem;
}

.specialtext {
  color: $replacement-white;
}

.alert-box.info {
  background-color: $custom-alert-green;
}

.registration {
  border-style: none;
  border-width: 0;
}
